{
	# optional but explicit
	auto_https off
}

http://{$WEB_DOMAIN} {
	encode zstd gzip
	root * /srv/flutter-web
	try_files {path} /index.html
	file_server
}

http://{$API_DOMAIN} {
	reverse_proxy api:8787
}

